archive/
demo/
env_config.py
RyotaroOkabe
chem_eq/
__pycache__/
wandb/
benchmark/
save/
slurm/
figures/
tex/

*sh
*.tex

test_lhs2rhs.py
test_llama3.py
data_check.py

test_llm4syn_jaccard.py
test_tgtope2ceq.py